// @import 'compass';
// @import '../../../src/assets/fonts/bosch/stylesheet.css';

$color-main: #475E4C;
$logo: #dabc92;
$color2: #AB6532;
$color3: #84402D;
$color4: #B6B99A;
$color5: #F6F2EF;
$color6: #9B7349;
$color7: #E2C8A6;
